{% extends 'base.html' %}
{% load static %}

{% block title %}
    Psycho site
{% endblock %}
{% block content %}
    <br>
    <div class="container" style="max-width: 1000px">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card border-dark">
                    <img src="{% static 'main/home/test.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Тесты</h5>
                        <p class="card-text">Тест на канал восприятия, оценка уровня тревожности,
                            диагностика психических состояний и свойств личности...</p>
                        <a class="btn btn-dark" href="{% url "tests" %}">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark">
                    <img src="{% static 'main/home/stats.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Статистика</h5>
                        <p class="card-text">Статистика по всем пройденым тестам</p>
                        <a class="btn btn-dark" href="{% url "statistics" %}">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark">
                    <img src="{% static 'main/home/like.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Рекомендации</h5>
                        <p class="card-text">Рекомендации, основанные на диагностике ваших результатов</p>
                        <a class="btn btn-dark" href="">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark">
                    <img src="{% static 'main/home/gym.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Тренажеры</h5>
                        <p class="card-text">Тренажеры для улучшения личностных качеств</p>
                        <a class="btn btn-dark" href="">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}