{% extends 'base.html' %}

{% block title %}
    Psycho site
{% endblock %}
{% block content %}
    <h1 style="color: #111111">Home</h1>
{#    {{ graph|safe }}#}
    <a href="{% url 'test_first' %}">тест на канал восприятия</a>
    {% if res1 %}
        <p>У вас уже audio = {{ res1.audio }}, visual = {{ res1.visual }}, kinest = {{ res1.kinest }}</p>
    {% endif %}
    <a href="{% url 'test_second' %}">тест на тревожность</a>
    {% if res2 %}
        <p>У вас уже rt = {{ res2.rt }}, lt = {{ res2.lt }}</p>
    {% endif %}
    <a href="{% url 'test_third' %}">шкала депрессии</a>
    {% if res3 %}
        <p>У вас уже ud = {{ res3.ud }}</p>
    {% endif %}
{% endblock %}