{% extends 'base.html' %}

{% block title %}
Statistics
{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="color: #111111">Статистика прохождения тестов</h1>
        <br>
        {% if tests.0 %}
            <h2>Тест на канал восприятия</h2>
                <br>
            <h5>График изменения результатов</h5>
            {{ graph1.0|safe }}
            <p><span style="color: #00ffff" class="material-icons">crop_square</span> Голубой - аудиальный канал</p>
            <p><span style="color: #8A2BE2" class="material-icons">crop_square</span> Фиолетовый - визуальный канал</p>
            <p><span style="color: #FF7F50" class="material-icons">crop_square</span> Оранжевый - кинестетический канал</p>
            <br>
            <h5>Соотношение средних значений</h5>
            {{ graph1.1|safe }}
            <p><span style="color: #00ffff" class="material-icons">crop_square</span> Голубой - аудиальный канал</p>
            <p><span style="color: #8A2BE2" class="material-icons">crop_square</span> Фиолетовый - визуальный канал</p>
            <p><span style="color: #FF7F50" class="material-icons">crop_square</span> Оранжевый - кинестетический канал</p>
            <br>
            <h5>Все результаты тестирования</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Аудиальный</th>
                    <th scope="col">Визуальный</th>
                    <th scope="col">Кинестетический</th>
                    <th scope="col">Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tests.0 %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.audio }}</td>
                        <td>{{ i.visual }}</td>
                        <td>{{ i.kinest }}</td>
                        <td>{{ i.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if tests.1 %}
            <h2>Оценка уровня реактивной и личностной тревожности</h2>
            <br>
            <h5>График изменения результатов реактивной тревожности</h5>
            {{ graph2.0|safe }}
            <p>Меньше 30 - низкая тревожность</p>
            <p>Больше 30 и меньше 45 - умеренная тревожность</p>
            <p>Больше 45 - высокая тревожность</p>
            <h5>График изменения результатов личностной тревожности</h5>
            {{ graph2.1|safe }}
            <p>Меньше 30 - низкая тревожность</p>
            <p>Больше 30 и меньше 45 - умеренная тревожность</p>
            <p>Больше 45 - высокая тревожность</p>
            <h5>Все результаты тестирования</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Реактивная</th>
                    <th scope="col">Личностная</th>
                    <th scope="col">Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tests.1 %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.rt }}</td>
                        <td>{{ i.lt }}</td>
                        <td>{{ i.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if tests.2 %}
            <h2>Диагностика психических состояний и свойств личности</h2>
            <br>
            <h5>График изменения результатов</h5>
            {{ graph3|safe }}
            <p>Меньше 50 - отсутсвие депрессии</p>
            <p>От 51 до 60 - Легкая депрессия ситуативного или невротического генеза</p>
            <p>От 61 до 70 - Субдепрессивное состояние или маскированная депрессия</p>
            <p>Больше 70 - Истинное депрессивное состояние</p>
            <h5>Все результаты тестирования</h5>
            <table class="table table-striped" style="max-width: 450px">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Оценка показателя депрессии</th>
                    <th scope="col">Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tests.2 %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.ud }}</td>
                        <td>{{ i.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if tests.3 %}
            <h2>Опросник «САН»</h2>
            <br>
            <h5>График изменения результатов</h5>
            {{ graph4.0|safe }}
            <p><span style="color: yellow" class="material-icons">crop_square</span>Желтый - активность</p>
            <p><span style="color: deepskyblue" class="material-icons">crop_square</span>Синий - самочувствие</p>
            <p><span style="color: #FA7A7A" class="material-icons">crop_square</span>Красный - настроение</p>
            <h5>Соотношение средних значений</h5>
            {{ graph4.1|safe }}
            <p><span style="color: yellow" class="material-icons">crop_square</span>Желтый - активность</p>
            <p><span style="color: deepskyblue" class="material-icons">crop_square</span>Синий - самочувствие</p>
            <p><span style="color: #FA7A7A" class="material-icons">crop_square</span>Красный - настроение</p>
            <h5>Все результаты тестирования</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Активность</th>
                    <th scope="col">Самочувствие</th>
                    <th scope="col">Настроение</th>
                    <th scope="col">Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tests.3 %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.activity }}</td>
                        <td>{{ i.being }}</td>
                        <td>{{ i.mood }}</td>
                        <td>{{ i.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if tests.4 %}
            <h2>Теста Г. Айзенка</h2>
            <br>
            <h5>График изменения показателя искренности</h5>
            {{ graph5.0|safe }}
            <p>Меньше 4 - открытость</p>
            <p>От 4 до 6 - ситуативность</p>
            <p>Больше 6 - лживость</p>
            <h5>График изменения показателя экстравертности</h5>
            {{ graph5.1|safe }}
            <p>Меньше 3 - сверхинтроверт</p>
            <p>От 3 до 6 - интроверт</p>
            <p>От 7 до 10 - потенциальный интроверт</p>
            <p>От 11 до 14 - амбиверт</p>
            <p>От 15 до 18 - потенциальный экстраверт</p>
            <p>ОТ 19 до 22 - экстраверт</p>
            <p>Больше 22 - сверхинтроверт</p>
            <h5>График изменения показателя невротизма</h5>
            {{ graph5.2|safe }}
            <p>Меньше 3 - сверхконкордант</p>
            <p>От 3 до 6 - конкордант</p>
            <p>От 7 до 10 - потенциальный конкордант</p>
            <p>От 11 до 14 - нормостеник</p>
            <p>От 15 до 18 - потенциальный дискордант</p>
            <p>ОТ 19 до 22 - дискордант</p>
            <p>Больше 22 - сверхдискордант</p>
            <h5>Все результаты тестирования</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Искренность</th>
                    <th scope="col">Экстравертность</th>
                    <th scope="col">Невротизм</th>
                    <th scope="col">Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tests.4 %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.sincerity }}</td>
                        <td>{{ i.extrav }}</td>
                        <td>{{ i.neuro }}</td>
                        <td>{{ i.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}