{% extends 'base.html' %}

{% block title %}
    Test1
{% endblock %}
{% block content %}
    <div class="container">
        {% if message %}
            <h2 class="text-center">Тест на канал восприятия</h2>
            <br>
            <div class="container border border-dark rounded border-2" style="max-width: 600px; margin: auto">
                <div class="text-center">
                    <h5>Результат прохождения теста:</h5>
                    <p>{{ message }}</p>
                    <p><a class="btn btn-dark" href="{% url 'home' %}">Ок</a></p>
                </div>
            </div>
        {% else %}
            <h2>Тест на канал восприятия</h2>
            <br>
        <h5>Инструкция к тесту: Прочитайте предлагаемые утверждения.
            Выберите "Да", если Вы согласны с данным утверждением, и "Нет" - если не согласны.</h5>
        <h5>Необходимо ответить на все вопросы.</h5>
        <br>
        <form method="post">
            {% csrf_token %}
            {% for i in questions %}
                            <p>{{ i }}</p>
                            <p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio1" value="yes" required>
                                <label class="form-check-label">да</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio2" value="no" required>
                                <label class="form-check-label">нет</label>
                            </div>
                            </p>
            {% endfor %}


            <p><button type="submit" class="btn btn-dark">Отправить</button></p>
        </form>
        {% endif %}
    </div>
{% endblock %}