{% extends 'base.html' %}

{% block title %}
    Test4
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Опросник «САН»</h2>
        <br>
        {% if message %}
            <h5>Результат прохождения теста:</h5>
            <p>{{ message.0 }}</p>
            <p>{{ message.1 }}</p>
            <p><a class="btn btn-dark" href="{% url 'test_fourth' %}">Пройти тест еще раз</a></p>
        {% else %}
            <h5>Инструкция к тесту: Соотнесите свое состояние с рядом признаков по многоступенчатой шкале.</h5>
            <br>
            <form method="post">
                {% csrf_token %}
                {% for i in questions %}
                    <p>{{ i.0 }} - {{ i.1 }}</p>
                    <p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio1" value="1" required>
                        <label class="form-check-label" for="inlineRadio1">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio2" value="2" required>
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio3" value="3" required>
                        <label class="form-check-label" for="inlineRadio2">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio4" value="4" required>
                        <label class="form-check-label" for="inlineRadio2">0</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio4" value="5" required>
                        <label class="form-check-label" for="inlineRadio2">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio4" value="6" required>
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="inlineRadio4" value="7" required>
                        <label class="form-check-label" for="inlineRadio2">3</label>
                    </div>
                    </p>
                {% endfor %}


                <p><button type="submit" class="btn btn-dark">Отправить</button></p>
            </form>
        {% endif %}
    </div>
{% endblock %}