{% extends 'base.html' %}
{% load static %}
{% block title %}
    Tests
{% endblock %}
{% block content %}
    <br>
    <div class="container">
	<h5>Всю подробную информацию о результатах прохождления тестов вы можете посмотреть в разделе <a href="{% url 'statistics' %}">статистики</a></h5>
	<br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
			{% for name, about in tests.items %}
            <div class="col">
                <div class="card border-dark">
					<img src="{% static 'main/'|add:about.image %}" style="max-width: 500px">
                    <div class="card-body">
                        <h5 class="card-title">{{ about.name }}</h5>
                        <p class="card-text">{{ about.info }}</p>
                        <a class="btn btn-dark" href="{% url name %}">Перейти к тесту</a>
                    </div>
                </div>
            </div>
			{% endfor %}
        </div>
    </div>
    <br>
{% endblock %}