{% extends 'base.html' %}

{% block title %}
    Account
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Мой профиль</h1>
        <br>
        <p class="fw-bold regular_text">Имя пользователя: </p>
        <p class="regular_text"> {{ request.user.username }}</p>
        <p class="fw-bold regular_text">Имя:</p>
        <p>
            {% if request.user.first_name %}
                {{request.user.first_name }}
            {% else %}
                -
            {% endif %}
        </p>
        <p class="fw-bold regular_text">Фамилия:</p>
        <p class="regular_text">
            {% if request.user.last_name %}
                {{request.user.last_name }}
            {% else %}
                -
            {% endif %}
        </p>
        <p class="fw-bold regular_text">Электронная почта:</p>
        <p class="regular_text">
            {% if request.user.email %}
                {{request.user.email }}
            {% else %}
                -
                <p>Электронная почта потребуется в случае, если вы забудете пароль к этому сайту.</p>
            {% endif %}
        </p>
        <br>
            <p><a style="width: 300px" class="btn btn-outline-dark" href="{% url 'change_info' %}">Изменить персональные данные</a></p>
            <p><a style="width: 300px" class="btn btn-outline-dark" href="{% url 'change_password' %}">Сменить пароль</a></p>

    </div>
{% endblock %}