<nav class="justify-content-right navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="material-icons">psychology</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                    {% if request.user.is_staff %}
                        <a class="nav-link {% if cur_page == 'staffroom' %} active {% endif %}" href="{% url 'staffroom' %}"><span class="material-icons">manage_accounts</span></a>
                    {% endif %}
                    <a class="nav-link {% if cur_page == 'account' %} active {% endif %}" href="{% url 'account' %}"><span class="material-icons">person</span></a>
                    <a class="nav-link" href="{% url 'signout' %}"><span class="material-icons">logout</span></a>
            </div>
        </div>
    </div>
</nav>